.spinner {
	width: 5.6rem;
	height: 5.6rem;
	border-radius: 50%;
	margin: 1rem 0;
	background: radial-gradient(farthest-side, #bb0505 94%, #0000) top/9px 9px no-repeat, conic-gradient(#0000 30%, #bb0505);
	-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
	animation: spinner-rotate 1s infinite linear;
}

@keyframes spinner-rotate {
	100% {
		transform: rotate(1turn);
	}
}


.spinner-btn {
   width: 24px;
   height: 24px;
   border-radius: 50%;
   background: radial-gradient(farthest-side,#ffffff 94%,#0000) top/3.8px 3.8px no-repeat,
          conic-gradient(#0000 30%,#ffffff);
   -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 3.8px),#000 0);
   animation: spinner-c7wet2 0.8s infinite linear;
}

@keyframes spinner-c7wet2 {
   100% {
      transform: rotate(1turn);
   }
}
